<nav th:fragment="navbar" style="width: border-box; color: aliceblue; background-color:royalblue; display: inline-block; justify-content: space-evenly">
  <a th:href="@{/}">Home</a>
  <a th:href="@{/posts}">Posts</a>
  <a th:href="@{/login}">Login</a>
  <a th:href="@{/register}">Create an Account</a>
  <ul>
    <!-- More links here... -->
    <li>
      <form th:action="@{/logout}" th:method="post">
        <button class="btn-link btn" style="margin-top: 8px">Logout</button>
      </form>
    </li>
  </ul>
</nav>